.section-container
  margin-bottom: 20px
  .card-container
    display: flex
    flex-direction: row
    .card
      display: flex
      flex: 1
      padding: 15px
      flex-direction: column
      margin: 10px
      border: 1px solid lightGray
      justify-content: center
      p
        padding: 5px
    .selected-card
      border: 1px solid primaryGreen
      background-color: greenOpacity