.receipt-container
  display grid
  grid-template-columns: 7fr 3fr
  height 100%
  grid-gap: 2em
  .receipt-inner
    display: flex
    justify-content: center
    flex-direction: column
    margin: auto
    span 
      margin-top: 30px
      cursor pointer