.payment-container 
  display grid
  grid-template-columns: 7fr 3fr
  height 100%
  grid-gap: 2em
  .payment-inner-container
    display: flex
    flex-direction: column

@media screen and (max-width: 768px) 
  .payment-container 
    display: flex
    flex-direction: column
