primaryColor = #fefae8
primaryMain = #FF8A00
primaryOpacity = #fbe5bd

html 
  background-color: primaryColor;


.base 
  background-color: white;
  width: 90vw;
  height: 90vh;
  margin: auto;
  margin-top: 5vh;

