#nav 
  background-color: primaryColor
  height: 60px
  width: 35vw
  border-radius: 35px
  position: absolute
  margin-left: auto
  margin-right: auto
  left: 0
  right: 0
  top: 2%
  text-align: center
  display: flex
  svg 
    color: primaryMain

.nav-item
  flex: 1
  display: flex
  justify-content: space-around
  align-items: center
  p
    color: primaryMain

.nav-inner 
  display: flex
  align-items: center

.nav-item-key 
  background-color: primaryMain
  border-radius: 50%
  padding: 10px
  height: 10px
  margin-right: 12%

  p 
    color: white
    text-align: center
    vertical-align: middle
    line-height: 10px       

.nav-item-key-selected
  background-color: primaryOpacity
  p 
    margin: auto
    color: primaryMain

.back-nav
  align-items: center
  display flex
  svg 
    color: textGray
    margin-right: 15px
  p
    color: textGray
